

div.post, div.home_mess, form.home_mess {
/*word-wrap: break-word;*/
border-top: solid 2px;
padding: 10px;

}

div.home_mess {
border-top: 0px;
}

h5.vote {
  color: #FF8B60;
}

#woods {
width: 100%;
display: block;
height: 400px;

}

#body {
  padding : 10px;

}

div.container  {
  width : 950px;
  color: #333;
  background-color: white;

}

pre {
  display: inline-block;
}

body {

  background-color: #BEC3C6;
}

input.vote_button {
  display:hidden;
}


#id_title {
  width: 40%;
}
#id_body {
  width: 80%;
}


a.view {
  display:inline-block;
}
p.info {
  display:inline-block;
}


.navbar {
margin-bottom: 5px;
}

